.custom-status-button {
    background-color: #DDDADD !important;
    border: none;
    color: black;
}

.custom-status-button:hover {
    background-color: #CCCACC !important; 
    color: black;
}

.custom-status-button:focus,
.custom-status-button:active {
    background-color: #BBBABB !important;
    color: black;
    box-shadow: none;
}

.custom-v-dots {
    margin-left: -8px;
}

.custom-check-circle{
    color: #CCCACC ;
}

